<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/ambassador/v0/favicon.ico">

    <title>Ambassador Diagnostic Overview</title>

    <!-- Bootstrap core CSS -->
    <link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="//getbootstrap.com/docs/4.0/examples/grid/grid.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <h1>Ambassador Diagnostic Overview</h1>

      <div class="row">
        <div class="col-7">
          Ambassador version {{ system.version }}
          <br/>
          Hostname {{ system.hostname }}
          <br/>
          Configuration from {{ system.boot_time }} -- {{ system.hr_uptime }} ago
          <br/>
          {% if envoy_status.ready %}
          Envoy ready, last status reported {{ envoy_status.since_update }}
          {% elif envoy_status.alive %}
          Envoy alive but not yet ready{%- if envoy_status.uptime -%}, running {{ envoy_status.uptime }}{% endif %}
          {% else %}
          Envoy not running!!
          {% endif %}
        </div>
        <div class="col-5">
          {% if loginfo %}
            {% if loginfo.all %}
              Current log level: {{ loginfo.all }}
            {% else %}
              Current log levels:
              <ul>
                {% for level, elements in loginfo.items() | sort %}
                <li>{{ level }}: {{ ", ".join(elements) }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            Current log levels: unknown
          {% endif %}

          <div class="row">
            <table border="0" width="100%">
              <tbody>
                <tr>
                  <td width="50%" align="center">
                    <a href="/ambassador/v0/diag/?loglevel=debug">
                      <button type="button" class="btn btn-warning">Set Debug On</button>
                    </a>
                  </td>
                  <td width="50%" align="center">
                    <a href="/ambassador/v0/diag/?loglevel=info">
                      <button type="button" class="btn btn-warning">Set Debug Off</button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>        
        </div>
      </div>

      {% if notices %}
        <div class="row">
          <div class="col-12">
            {% for notice in notices %}
              <span 
              {% if notice.level == 'WARNING' %}
              style="color:red"
              {% elif notice.level == 'INFO' %}
              style="color:green"
              {% endif %}
            >{{ notice.level }}</span>: {{ notice.message }}<br/>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if errors %}
        <div class="row">
          <div class="col-12">
            <span style="color:red">CONFIGURATION ERRORS</span>
            <br/>
            {% for error in errors | sort %}
              <a href="/ambassador/v0/diag/{{ error[0] }}">
                <span style="color:red">{{ error[0] }}: {{ error[1] }}</span>
              </a>
              <br/>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-12">
          Ambassador Route Table

          <div class="row">
            <div class="col-12">
              <table cellpadding="2em" width="100%">
                <thead>
                  <td>URL</td>
                  <td>Service</td>
                  <td>Weight</td>
                </thead>
                <tbody>
                  {% for route in route_info %}
                    <tr 
                      {% if loop.index % 2 %}
                        style="background: rgba(86,61,124,.05);"
                      {% endif %}
                      >
                      <td>
                        <a href="/ambassador/v0/diag/grp-{{ route['_group_id'] }}">
                          <code>{{ route.key }}
                          {% if route['headers'] %}
                            {% for hdr in route['headers'] %}
                              <br/>
                              {{ hdr['name'] }}: {{ hdr['value'] }}
                            {% endfor %}
                          {% endif %}
                          </code>
                        </a>
                      </td>
                      <td>
                        {% for cluster in route.clusters| sort_clusters_by_service %}
                          <a href="/ambassador/v0/diag/{{ route['_source'] }}">
                            <code><span style="color:{{ cluster._hcolor }}">
                              {{ cluster.service }}
                            </span></code>
                          </a>
                          {% if not loop.last %}
                          <br/>
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td>
                        {% for cluster in route.clusters| sort_clusters_by_service %}
                          {{ ((cluster.weight * 10.0) + 0.9) // 10 }}%
                          {% if not loop.last %}
                          <br/>
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="//getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
