<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{.Prefix}}styles/master.css" type="text/css" media="all">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <title>Ambassador Developer Portal</title>
    {{if eq .Ctx "landing"}} {{template "landing-head" $}}
    {{else if eq .Ctx "page"}} {{template "page-magic-head" $}}
    {{else if eq .Ctx "doc"}} {{template "swagger-head" $}}
    {{else}} UNKNOWN CONTEXT??
    {{end}}
    {{/* re-define these in fragments/ folder if you need something specific */}}
    {{define "landing-head"}}{{end}}
    {{define "page-magic-head"}}{{end}}
    {{define "swagger-head"}}{{end}}
</head>
<body>
    <div class="o-page">
        {{template "header" $}}
        {{define "header"}}{{end}}
        {{template "navigation" $}}
        {{define "navigation"}}{{end}}
        <main class="o-page__main">
            <div>
                <article>
                    <section>
                        <div>
                            {{if eq .Ctx "landing"}} {{template "///landing" $}}
                            {{else if eq .Ctx "page"}} {{template "///page-magic" $}}
                            {{else if eq .Ctx "doc"}} {{template "swagger" $}}
                            {{else}} UNKNOWN CONTEXT??
                            {{end}}
                            {{define "///landing"}}{{end}}
                            {{define "///page-magic"}}{{end}}
                            {{define "swagger"}}{{end}}
                        </div>
                    </section>
                </article>
            </div>
        </main>
        {{template "footer" $}}
        {{define "footer"}}{{end}}
    </div>
</body>
</html>
