*
!demo/
!manifests/emissary/emissary-crds.yaml.in
!api/
!build-aux
!builder/server.crt
!builder/server.key
!cmd/
!pkg/
!vendor/
!python/
!demo/
!internal/
!releng/
!ambex
!watt
!kubestatus
!go.mod
!go.sum
python/tests/
**/__pycache__/
python/ambassador.egg-info
**/venv
