*
!demo/
!manifests/emissary/emissary-crds.yaml
!post-compile.sh
!api/
!build-aux-local
!builder/server.crt
!builder/server.key
!cmd/
!pkg/
!vendor/
!python/
!demo/
!internal/
!releng/
!ambex
!watt
!kubestatus
!bin_linux_amd64/
!go.mod
!go.sum
bin/
bin_linux_amd64/.go-build/
bin_linux_amd64/*-static
python/tests/
__pycache__
python/ambassador.egg-info
