# Created by ./configure
/WORKSPACE
BUILD
!/BUILD
/vendor

# local files
*.local
*.local.sh

# "main"
/tools/sandbox/grpc_auth/docker-compose.yml
/tools/sandbox/grpc_web/docker-compose.yaml
/tools/sandbox/http_auth/docker-compose.yml
node_modules/
venv/
vendor_bootstrap_hack.go

# Ambassador nonsense
.ambassador_ignore_ingress_class

# Bazel nonsense
bazel-*

# Python nonsense
*.pyc
__pycache__/
*.egg-info
build/
dist/
.mypy_cache/

# Editor nonsense
*~
*.swp
#*#
.#*
.vscode
.idea
*.iml
tags

# Misc nonsense
*.log
*.tmp
.tmp*
*.bak
