sudo: false
dist: trusty
language: python

addons:
  apt:
    packages:
    - python3
    - docker-ce

python:
- '3.6'

install:
- pip install -r dev-requirements.txt
- pip install -r ambassador/requirements.txt

services:
- docker

env:
  global:
  - DOCKER_REGISTRY=-
  - COMMIT=${TRAVIS_COMMIT::8}
  - secure: pICW+jNQnKfTIi3cupJAzLe4If6FqvJ6OgAQIxfmnTxo/7w6EwzBh8zNqTJ60WCGXc/dqYpOtAYGZ/65hRR9HS9l3/8/wmZGeARoz/IR3dEbMpSQKRWTiF+J6UX24H2ol9u6vGa+JLgQuqJeTDdzGqk6h5sZ6H2a2dedOJ9Ns/QQlN/eCsxvYLHQmdzXtc+vlTAFfL902Y2AW7Ue0lqGdJlnzM9WxxX5amBxf9t73aY+pW4mqeysGPZfSlRdpkVAJd3TzYlC4fdJWYR5DGsHDXnXlQdQ7OcLC9Vpb4f5AAu4XPbdxpxW2oA4hxlV6ya1N+oDlZZo1RZiRugn7ecY7W3a6wI7HI91GbWLJe2BaCRW1TminmGZ+tSErz1AmGiOpiqjKeM7KvMwt2Kv5YpWkZcFy5ac0wSMP1qf9V6Kyn9INiohPCHiiy3vzy5a75fAdIVl9C/5x2n6SmNFf0bCO0RVDqqMBQvScjnAZDFZTKHhXDh8zHdQbhxTg0edKbJ+JimuzJYjvGLZkBVuQtW8XO/3kzycTsgzP8OgLH2Ww7qIP0jZpL4HAqIF5FePZ46u32iYqTmv2CokveMJJoCRK/tNKhB4a3Uc8wIHPPVAiTIme8LGJqDrpdzEKbRF7K3fB+qn2nypGfsdxXquNoNxs4/flBYfEt4sUWysvIpEtdY=
  - secure: "Fnyqm81+1Ul5FEIjbNycC0KZkXGGbulf/pfXXoaIVbAsX3ZHB7Gl16E62Cm4Z+DUZ+LZyxfPLrgjnYhJDvCppu5JokaA4hJtO9NxDbN9lqltpGTvx+7Q+8pxOxmwNnesv3JaW28RFyR5rW2WC1wftwF1X7rm+cqcvL/YbGUQgJ4R9p/fDjHj4jHOhzUsDtD56+ryC0WlpmeByEHlWdVsxdiitus2zRdXUy55pcBmXfXwapHZEiKXk1DuMCAyINxhwCAAGxfXckRysXRpD8SP8IO1+/HZ7QuqNNJrFjskEhNqUdGQaxR2cUG8SDWpWelWVgfAWX/m9JiRCum2MqZOF7W5wKVLb0v+1TYW41+YzS+vIDAyEtC7zxXd/rOZxSnO6AwOTcwm6XIYffJuHD8Ir8JloRlb4UWIWVlfPGtS9UYBybmBp9YTUpHdOCUZi2PTockBxAGgG3wbuH2UVHbg720z9si5IPXKmt63FOqaI9D59Q8KQc9s25o6JdfqRq+gXHTs96A0AlkPvL6l2JSYJkTVTVbakIN2Mrv5K2XgyTvRGJCAnGJiIYBuLfeM1FrTAhh9dUWmCBEzqRJBum8sn1G+trqmyo4iSKd6iPby4/huw9firlC0kb9MNr23kxj36Swstq/K0FeEEual3uhlxxm9+vXOIgWA6bej1xRsIyw="
  - secure: "F9oY34UDI8aXuZ9nb6z3/ltlqrNs4RUQHDZHa2YSFoq0r2Rn272Yg7oHfPh3deYNKxtUOBwwcpiC/7G9MqhkuLQEYhqY/KowidG6gOxCZdTDEVS10C4GDEMGj64URlUCS722tQYMIpniiB6LW2kEOOcEuzC6JsVxS7BowUEVk7Ly8BTzrgNuGFN2bSphRyrJyrS3Reo5a1YI3joUMzI29t7fegefTIHHONKhZpIE86wFRk11nwvJdt54Eu9dVFwiEiGW9L9SnG2ph4UiqN6z3iQFCQ8HNvnf+BvNasdMBR3f85DPnG/syqOcQrrE1e5T88UXRxyUwR2ty1ad+ZvQPggwsoFs1FmdJH04pGn0Tgpo/AHNe5c67tvDbw2W4jlFJgVI/keoFvQigSM2DUuL1i0v48TkZw8lgcfasRjtJi7iDTC4qqjyMLkY6y2TRTVDG/86qxK3No7vvJZajzntU3c6MUttiSDubaHL5RuklQ+7MjN5Dp1cD09L3Qqnm9KcjWzbNoyqriBO84VU4aJFF72jJ18qADX/UUj7cxi0ShY19BHX2Vrp3pPSNiePfO7okUrg5Wc4eD7u4eC+aUVHboEX35NhBnfj7/ASrsltIANYFmNarv3tvd67JIsm/Wz3pge6YOSV1pBr2IsGk5UVIXdJ/mm6GVWFlJ9PiELDBGc="
script:
- bash scripts/travis-build.sh
