* {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	box-sizing: border-box
}

*, textarea {
	vertical-align: top
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	--dw-purple: #5F3EFF;
	--dw-item-background-fill: #fdfaff;
	--dw-item-background-hover: #ede7f3;
	--dw-item-border: #ede7f3;
	--dw-orange: #FF4329;
}

body, html {
	height: 100%;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background: #000;
	-webkit-font-smoothing: antialiased
}

body, figure {
	margin: 0
}

body, html {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.alpha {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.alpha {
	padding: 0;
	margin: auto;
	x-max-width: 1440px;
	max-width: 1200px; /* MOREMORE added */
	position: relative;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 100%
}

login-gate {
	width: 100%;
}
aes-snapshot-provider {
	width: 100%;
}
a:focus {
	outline: thin dotted
}

a:active, a:hover {
	outline: 0
}

a {
	color: #333;
	text-decoration: none
}

a:hover {
	color: #5f3eff
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}

audio, canvas, video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}

b, strong {
	font-weight: 700
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

button, input {
	line-height: normal
}

button, select {
	text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

/* --------------------------------------------- */

.main-ui-admin-section-heading {
	margin: 0 0.1em;
	font-size: 120%;
	font-weight: bold;
}
.main-ui-admin-section-text {
	display: inline-block;
	margin-right: 10%;
	margin-left: 2.5px;
}
div.main-ui-admin-section {
	border: 1px solid var(--dw-item-border);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	padding: 0.5em;
	margin-bottom: 0.6em;
	line-height: 1.3;
	position: relative;
}
.main-ui-admin-section p {
	margin-top: 0;
}
.main-ui-admin-section code {
	font-size: 120%;
}

