* {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	box-sizing: border-box
}

*, textarea {
	vertical-align: top
}

.card {
	background: #fff;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 10px 5px -11px rgba(0, 0, 0, .6);
	width: 100%;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex: 1 1 1;
	-ms-flex: 1 1 1;
	flex: 1 1 1;
	margin: 30px 0 0;
	font-size: .9rem;
}

.card, .card .col .con {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.card .col {
	-webkit-flex: 1 0 50%;
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
	padding: 0 30px 0 0
}

.card .col .con {
	margin: 10px 0;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	height: 30px
}


.card .col, .card .col .con label, .card .col2, .card .col2 a.cta .label {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center
}

.card .col2 a.cta {
	text-decoration: none;
	border: 2px #efefef solid;
	border-radius: 10px;
	width: 90px;
	padding: 6px 8px;
	-webkit-flex: auto;
	-ms-flex: auto;
	flex: auto;
	margin: 10px auto;
	color: #000;
	transition: all .2s ease
}

.card .col2 a.cta .label {
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 600;
	line-height: 1rem;
	padding: 0 0 0 10px;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}

.card .col2 a.cta svg {
	width: 15px;
	height: auto
}

.card .col2 a.cta svg path, .card .col2 a.cta svg polygon {
	transition: fill .7s ease;
	fill: #000
}

.card .col2 a.cta:hover {
	color: #5f3eff;
	transition: all .2s ease;
	border: 2px #5f3eff solid
}

.card .col2 a.cta:hover svg path, .card .col2 a.cta:hover svg polygon {
	transition: fill .2s ease;
	fill: #5f3eff
}

.card .col2 a.cta {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.card .col2 a.off {
	display: none;
}

div.off, span.off, input.off {
	display: none;
}

.row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.row .row-col {
	flex: 1;
	padding: 10px 5px;
}
.row .row-col:nth-child(1) {
	font-weight: 600;
}
.row .row-col:nth-child(2) {
	flex: 2;
}

.card .row {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card div.line:nth-last-child(2) {
	border-bottom: none;
}


.margin-right {
	margin-right: 20px
}
.justify-right {
	text-align: right;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

button, input {
	line-height: normal
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input {
	background: #efefef;
	padding: 5px;
	margin: -5px 0;
	width: 100%;
}
