:host {
    --bg:#fff;
    --bg2:#fafafa;
    --bg3:#f0f0f0;
    --fg:#444;
    --fg2:#555555;
    --fg3:#626262;
    --light-fg:#8a8a8a;
    
    /* Border Colors */
    --border-color:#e6e6e6;
    --light-border-color:#f0f0f0;
    --code-border-color:#transparent;

    --code-bg:#4e575e;
    --code-fg:#ccc;
    --input-bg:#ffffff;
    --placeholder-color:#9e9e9e;
    --hover-color:#fafafa;
    --red:#F06560;
    --light-red:#fff0f0;
    --green:#99CC00;
    --light-green:#fbfff0;
    --blue:#47AFE8;
    --light-blue:#eff8fd;
    --orange:#FF9900;
    --light-orange:#fff5e6;
    --yellow:#fc0;
    --light-yellow:#fff5cc;
    --purple:#786FF1;
    --brown:#D4AC0D;

    /* Header Color */
    --header-bg:#4b4b4b;
    --header-fg:#fff;
    --header-color-darker:#373737;
    --header-color-border:#555555;

    /* Nav Colors */  
    --nav-bg-color:#f5f5f5;
    --nav-text-color:#494949;
    --nav-hover-bg-color:#fff;
    --nav-hover-text-color:#FF791A;
    --nav-accent-color:#FF791A;

    /* Primary Colors */  
    --primary-color:#FF791A;
    --primary-color-invert:#fff;
  }
