:host {
  --layout:row;
  --font-mono:Monaco, "Andale Mono", "Roboto Mono", Consolas; 
  --font-regular:rapidoc, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --font-size-mono:13px;
  --font-size-regular:14px;
  --font-size-small:12px;
  --border-radius:2px;

  display:flex;
  flex-direction: column;
  min-width:360px;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow: hidden;
  letter-spacing:normal;
  color:var(--fg);
  background-color:var(--bg);
  font-family:var(--font-regular);
}
::selection { background: var(--bg3); }
.body {
  display:flex;
  height:100%;
  width:100%;
  box-sizing: border-box;
  overflow:hidden;
}
.nav-bar {
  width:0;
  height:100%;
  overflow: hidden;
  color:var(--nav-text-color);
  background-color: var(--nav-bg-color);
  box-sizing:border-box;
  line-height: 16px;
  display:none;
  position:relative;
  flex-direction:column;
  flex-wrap:nowrap;
  word-break:break-word;
}
.nav-scroll {
  overflow-x:hidden;
  overflow-y:auto;
}
.nav-bar:hover .cover-scroll-bar {
  opacity: 0;
}

.cover-scroll-bar {
  position: absolute;
  background: var(--nav-bg-color);
  height: 100%;  
  top: 0;
  right: 0;
  width: 20px;
  transition: all .3s;
  opacity: 1;
}

.nav-scroll:hover::-webkit-scrollbar {
  width: 24px;
}

.nav-bar-tag {
  font-size: var(--font-size-regular);
  border-left:4px solid transparent;
  font-weight:bold;
  padding: 30px 30px 5px 10px;
  text-transform: capitalize;
}

.nav-bar-info,
.nav-bar-tag,
.nav-bar-path {
  display:flex;
  cursor:pointer;
  border-left:4px solid transparent;
}

.nav-bar-path {
  font-size: var(--font-size-small);
  padding: 10px 30px 10px 10px;
}
.nav-bar-info {
  font-size: var(--font-size-regular);
  padding: 16px 10px;
  font-weight:bold;
}

.nav-bar-info.active,
.nav-bar-tag.active,
.nav-bar-path.active {
  font-weight:bold;
  border-left:4px solid var(--nav-accent-color);
  color:var(--nav-hover-text-color);
  background-color:var(--nav-hover-bg-color);
}

.nav-bar-info:hover,
.nav-bar-tag:hover,
.nav-bar-path:hover {
  color:var(--nav-hover-text-color);
  background-color:var(--nav-hover-bg-color);
}

.main-content { 
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-radius: .5em;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  padding-top: .5em;
  padding-left: .5em;
  display:block;
  flex:1;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-content--read-mode{
  color: var(--fg3)
}
.section-gap,
.section-gap--read-mode { 
  /*padding: 24px 8px 12px 8px; */
  padding: .5em;
  padding-top: 1em;
  padding-left: 0;
}

.logo { 
  height:36px;
  width:36px;
  margin-left:5px; 
}
.only-large-screen-flex,
.only-large-screen{
  display:none;
}
.header-title{
  font-size:calc(var(--title-font-size) + 8px); 
  padding:0 8px;
}
.tag{
  text-transform: uppercase;
}
.header{
  background-color:var(--header-bg);
  color:var(--header-fg);
  box-sizing:border-box;
  width:100%;
}

input.header-input{
  background:var(--header-color-darker);
  color:var(--header-fg);
  border:1px solid var(--header-color-border);
  flex:1; 
  padding-right:24px;
  border-radius:3px;
}
input.header-input::placeholder {
  opacity:0.4;
}

.loader {
  margin: 16px auto 16px auto; 
  border: 4px solid var(--bg3);
  border-radius: 50%;
  border-top: 4px solid var(--primary-color);
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}
.expanded-endpoint-body{ padding:24px 0px;}
.divider { border-top:2px solid var(--primary-color); width:100%; }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    width: 260px;
    display:flex;
  }
  .only-large-screen{
    display:block;
  }
  .only-large-screen-flex{
    display:flex;
  }
/*  .main-content { 
    padding:0 16px;
  }
  .section-gap { 
    padding: 24px 24px 8px 24px; 
  }
*/
  .section-gap--read-mode { 
    padding: 48px 24px 24px 24px; 
  }
  .endpoint-body {
    padding:36px 0 48px 0;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-bar {
    width: 280px;
    display:flex;
  }
  .section-gap--read-mode { 
    padding: 48px 120px 24px 100px; 
  }
}