* {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	box-sizing: border-box
}

*, textarea {
	vertical-align: top
}


.header_con, .header_con .col {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.header_con {
	margin: 30px 0 0;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.header_con .col {
	-webkit-flex: 0 0 80px;
	-ms-flex: 0 0 80px;
	flex: 0 0 80px;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.header_con .col svg {
	width: 100%;
	height: 60px
}

.header_con .col svg path {
	fill: #5f3eff
}

.header_con .col:nth-child(2) {
	-webkit-flex: 2 0 auto;
	-ms-flex: 2 0 auto;
	flex: 2 0 auto;
	padding-left: 20px
}

.header_con .col h1 {
	padding: 0;
	margin: 0;
	font-weight: 400
}

.header_con .col p {
	margin: 0;
	padding: 0
}



/* MOREMORE old stuff below here */


.error {
	color: red;
}
button:hover,
button:focus {
	background-color: #ede7f3;
}
div {
	/*  margin: 0.4em; */
}
div.frame, fieldset.frame {
	display: grid;
	margin: 0.4em;
	grid-template-columns: repeat(10, 10%);
	grid-gap: 0 0;
	border: 2px solid var(--dw-item-border);
	border-radius: 0.4em;
	position: relative;
	padding-bottom: 0.2em;
}
div.frame fieldset.frame {
	grid-column: 1 / 10;
}
div.frame fieldset.frame div.inner-grid {
	display: grid;
	grid-template-columns: repeat(10, 10%);
}
div.title {
	grid-column: 1 / 11;
	background: var(--dw-item-background-fill);
	margin: 0;
	padding: 0.5em;
	max-height: 1.3em;
}
div.title-button {
	position: absolute;
	top: 0.4em;
	right: 0.5em;
}
div.edit-buttons {
	position: absolute;
	right: 0.5em;
	top: 38px;
}
div.edit-buttons-column {
	display: grid;
	grid-template-columns: 3em;
	grid-gap:0.2em;
}
div.edit-buttons button {
	grid-column: 1 / 2;
}
div.edit-buttons button.delete-button {
	margin-top: 0.9em;
}
div.attribute-name {
	grid-column: 1 / 4;
	padding-right: 0.5em;
	text-align: right;
	font-variant: small-caps;
}
div.attribute-value {
	grid-column: 4 / 11;
}
div.error-value {
	grid-column: 3 / 11;
}
div.error-value ul {
	margin-block-start: 0.3em;
	padding-inline-start: 0;
}
div.error-value li {
	list-style-type: none;
}
.crd-name {
	font-weight: bold;
}
.crd-namespace {
	color: #888888;
	font-size: 80%;
}

div.yaml {
	margin: 0.4em;
	grid-column: 1 / 11;
}

div.yaml pre {
	overflow-x: auto;
}

div.changes {
	display: grid;
	grid-gap: 0 0;
	padding-bottom: 0.2em;
}
div.yaml-path {
	grid-column: 2;
}
div.yaml-change {
	grid-column: 3;
}

.off {
	display: none;
}
input:hover,
input:focus {
	background-color: #ede7f3;
}
span.code {
	font-family: Monaco, monospace;
}
