.col_left {
	float: left;
	width: 190px;
	background-color: black;
	color: white;
	height: 90vh;
	font-size: 85%;
	font-weight: bold;
}

.col_right {
	margin-left: 190px;
}

.tab {
	display: block;
	padding: 1em;
	line-height: 1.3;
	cursor: pointer;
	text-decoration: none;
}
.tab img {
	vertical-align: middle;
	padding-right: 0.8em;
}
.tab span.icon-aligned {
	vertical-align: middle;
}
.tab span.with-no-icon {
	vertical-align: middle;
	padding-left: 33px;
}
.tab.active {
	background-color: var(--dw-purple);
	color: white;
}
.tab:hover {
	background-color: #a9a9a9;
}
.tab.active:hover {
	background-color: var(--dw-purple);
	color: white;
}

.tab-text {
	color: white;
}
