version: 2.1

commands:
  aws-install:
    steps:
      - run: |
          sudo pip install awscli

  golang-install:
    parameters:
      os:
        type: string
    steps:
      # Golang install

      # For some reason it is faster to curl into a file than to just
      # pipe the curl straight to tar.
      - run: |
          sudo rm -rf /usr/local/go &&
          curl https://dl.google.com/go/go1.11.4.<<parameters.os>>-amd64.tar.gz -o /tmp/go.tgz &&
          sudo tar -C /usr/local -xzf /tmp/go.tgz

      # Golang paths
      - run: |
          echo 'export PATH=${HOME}/go/bin:${PATH}:/usr/local/go/bin' >> ${BASH_ENV} &&
          echo 'export GOPATH=${HOME}/go' >> ${BASH_ENV} &&
          echo 'export GOBIN=${HOME}/go/bin' >> ${BASH_ENV}

      - run: mkdir -p ${GOPATH} ${GOBIN}

      - run: curl https://glide.sh/get | sh

  kubectl-install:
    steps:
      - run: curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.12.2/bin/$(go env GOOS)/$(go env GOARCH)/kubectl
      - run: chmod a+x ./kubectl
      - run: sudo mv kubectl /usr/local/bin

  main:
    steps:
      - checkout
      - run: make build
      - run: make check
      - run: .circleci/deploy.sh

jobs:

  macos-build:
    macos:
      xcode: "9.0"
    working_directory: ~/repo
    steps:
      - aws-install
      - golang-install:
          os: darwin
      - kubectl-install
      - main

  machine-build:
    machine: true
    working_directory: ~/repo
    steps:
      - aws-install
      - golang-install:
          os: linux
      - kubectl-install
      - main
      - run: docker login -u="datawire+releasebot" -p="${DOCKER_TOKEN}" quay.io
      - run: make push
      - run: .circleci/promote.sh


workflows:
  version: 2.1

  multibuild:
    jobs:
      - machine-build:
          filters:
            tags:
              only: /.*/
      - macos-build:
          filters:
            tags:
              only: /.*/
