# @TEMPLATE@

---
apiVersion: getambassador.io/v2
kind: Filter
metadata:
  name: grpc-auth-filter
spec:
  External:
    auth_service: "grpc-auth.default.svc.cluster.local:3000"
    proto: grpc
    allow_request_body: false
---
apiVersion: v1
kind: Service
metadata:
  name: grpc-auth
spec:
  type: ClusterIP
  selector:
    app: grpc-auth
  ports:
  - name: gauth
    port: 3000
    targetPort: grpc-api
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: grpc-auth
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: grpc-auth
    spec:
      containers:
      - name: grpc-auth
        image: {{env "MODEL_CLUSTER_GRPC_AUTH_IMAGE"}}
        ports:
        - name: grpc-api
          containerPort: 3000

---
apiVersion: getambassador.io/v2
kind: Filter
metadata:
  name: http-auth-filter
spec:
  External:
    auth_service: "http-auth.default.svc.cluster.local:4000"
    path_prefix: "/frobnitz"
    proto: http
    allowed_request_headers:
    - "x-allowed-input-header"
    allowed_authorization_headers:
    - "x-input-headers"
    - "x-allowed-output-header"
    allow_request_body: false
---
apiVersion: v1
kind: Service
metadata:
  name: http-auth
spec:
  type: ClusterIP
  selector:
    app: http-auth
  ports:
  - name: hauth
    port: 4000
    targetPort: http-api
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: http-auth
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: http-auth
    spec:
      containers:
      - name: http-auth
        image: {{env "MODEL_CLUSTER_HTTP_AUTH_IMAGE"}}
        ports:
        - name: http-api
          containerPort: 4000

---
apiVersion: getambassador.io/v2
kind: FilterPolicy
metadata:
  name: external-policy
spec:
  rules:
    - host: "*"
      path: /external-grpc/*
      filters:
        - name: grpc-auth-filter
    - host: "*"
      path: /external-http/*
      filters:
        - name: http-auth-filter
---
apiVersion: getambassador.io/v2
kind: Mapping
metadata:
  name: external-grpc-mapping
spec:
  prefix: /external-grpc/
  service: httpbin.default.svc.cluster.local
  host_rewrite: httpbin.org
  timeout_ms: 5000
---
apiVersion: getambassador.io/v2
kind: Mapping
metadata:
  name: external-http-mapping
spec:
  prefix: /external-http/
  service: httpbin.default.svc.cluster.local
  host_rewrite: httpbin.org
  timeout_ms: 5000
