# @TEMPLATE@

---
apiVersion: getambassador.io/v1beta2
kind: Filter
metadata:
  name: grpc-auth-filter
  namespace: default
spec:
  External:
    auth_service: "grpc-auth:3000"
    proto: grpc
    allow_request_body: false
---
apiVersion: v1
kind: Service
metadata:
  name: grpc-auth
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: grpc-auth
  ports:
  - name: gauth
    port: 3000
    targetPort: grpc-api
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: grpc-auth
  namespace: default
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: grpc-auth
    spec:
      containers:
      - name: grpc-auth
        image: {{env "MODEL_CLUSTER_GRPC_AUTH_IMAGE"}}
        ports:
        - name: grpc-api
          containerPort: 3000

---
apiVersion: getambassador.io/v1beta2
kind: Filter
metadata:
  name: http-auth-filter
  namespace: default
spec:
  External:
    auth_service: "http-auth:4000"
    path_prefix: "/frobnitz"
    proto: http
    allowed_request_headers:
    - "x-allowed-input-header"
    allowed_authorization_headers:
    - "x-input-headers"
    - "x-allowed-output-header"
    allow_request_body: false
---
apiVersion: v1
kind: Service
metadata:
  name: http-auth
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: http-auth
  ports:
  - name: hauth
    port: 4000
    targetPort: http-api
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: http-auth
  namespace: default
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: http-auth
    spec:
      containers:
      - name: http-auth
        image: {{env "MODEL_CLUSTER_HTTP_AUTH_IMAGE"}}
        ports:
        - name: http-api
          containerPort: 4000

---
apiVersion: getambassador.io/v1beta2
kind: FilterPolicy
metadata:
  name: external-policy
  namespace: default
spec:
  rules:
    - host: "*"
      path: /external-grpc/*
      filters:
        - name: grpc-auth-filter
    - host: "*"
      path: /external-http/*
      filters:
        - name: http-auth-filter
---
apiVersion: v1
kind: Service
metadata:
  name: external-httpbin
  namespace: default
  annotations:
    getambassador.io/config: |
      ---
      apiVersion: ambassador/v1
      kind: Mapping
      name: external-grpc-mapping
      prefix: /external-grpc/
      service: httpbin.org:80
      host_rewrite: httpbin.org
      timeout_ms: 5000
      ---
      apiVersion: ambassador/v1
      kind: Mapping
      name: external-http-mapping
      prefix: /external-http/
      service: httpbin.org:80
      host_rewrite: httpbin.org
      timeout_ms: 5000
spec:
  type: ClusterIP
  ports:
  - name: external-httpbin
    port: 80
