---
apiVersion: getambassador.io/v2
kind: Mapping
metadata:
  name: filter-actions-on-mapping
spec:
  prefix: /filter-actions/on/
  rewrite: /
  service: httpbin.default.svc.cluster.local
  host_rewrite: httpbin.org
  timeout_ms: 5000
---
apiVersion: getambassador.io/v2
kind: FilterPolicy
metadata:
  name: filter-actions-on-policy
spec:
  rules:
  - host: "*"
    path: /filter-actions/on/*
    filters:
     - name: jwt-filter
       onDeny: continue
       onAllow: break
     - name: uaa


---
apiVersion: getambassador.io/v2
kind: Mapping
metadata:
  name: filter-actions-if-mapping
spec:
  prefix: /filter-actions/if/
  rewrite: /
  service: httpbin.default.svc.cluster.local
  host_rewrite: httpbin.org
  timeout_ms: 5000
---
apiVersion: getambassador.io/v2
kind: FilterPolicy
metadata:
  name: filter-actions-if-policy
spec:
  rules:
  - host: "*"
    path: /filter-actions/if/*
    filters:
     - name: jwt-filter
       ifRequestHeader:
         name: "Authorization"
       onAllow: break
     - name: uaa
