# @TEMPLATE@
# See also: 04-keycloak.yaml

{{ $AmbassadorURL := "https://ambassador.ambassador.svc.cluster.local" }}
# Keycloak is configured statically in 04-keycloak.yaml

---
apiVersion: getambassador.io/v2
kind: Filter
metadata:
  name: keycloak
spec:
  OAuth2:
    authorizationURL: http://keycloak.default.svc.cluster.local/auth/realms/apro
    clientURL: {{ $AmbassadorURL }}
    audience: app
    clientID: app
    secret: 8517c278-0ae8-40e5-b418-20199b7e3fb5
---
apiVersion: getambassador.io/v2
kind: Mapping
metadata:
  name: filter-oauth2-keycloak-mapping
spec:
  prefix: /keycloak/httpbin/
  rewrite: /
  service: httpbin.default.svc.cluster.local
  host_rewrite: httpbin.org
  timeout_ms: 5000
---
apiVersion: getambassador.io/v2
kind: FilterPolicy
metadata:
  name: filter-oauth2-keycloak-policy
spec:
  rules:
    - host: "*"
      path: /keycloak/httpbin/**
      filters:
        - name: keycloak
