# @TEMPLATE@
# See also: 04-filter-pauth2-okta-client-credentials.yaml

{{ $AmbassadorURL := "https://ambassador.ambassador.svc.cluster.local" }}

# These come directly from https://dev-264701-admin.okta.com/admin/app/oidc_client/instance/0oaeshpr0wKNbyWQn356/#tab-general
# The administrator credentials to view that page are at
#    $(keybase config get -b mountdir)/team/datawireio/secrets/okta.dev-264701.firstname_lastname.*
{{ $Okta_Org_URL := "https://dev-264701.okta.com" }}
{{ $Okta_Client_ID := "0oaeshpr0wKNbyWQn356" }}
{{ $Okta_Client_Secret := "7Z-C1IIxDSzr1ICmZgnKt8G1_Mdtm2CpqvKSNnXd" }}
# Make sure that:
#  - "{{$AmbassadorURL}}/.ambassador/oauth2/redirection-endpoint" is in the "Login redirect URIs" field
#  - A test user account is set up (and configured in ./tests/cluster/go-test/filter-oauth2/testdata/idp_okta.js)

---
apiVersion: getambassador.io/v2
kind: Filter
metadata:
  name: okta
spec:
  OAuth2:
    authorizationURL: {{ $Okta_Org_URL }}/oauth2/default
    clientURL: {{ $AmbassadorURL }}
    audience: api://default
    clientID: {{ $Okta_Client_ID }}
    secret: {{ $Okta_Client_Secret }}
---
apiVersion: getambassador.io/v2
kind: Mapping
metadata:
  name: filter-oauth2-okta-mapping
spec:
  prefix: /okta/httpbin/
  rewrite: /
  service: httpbin.default.svc.cluster.local
  host_rewrite: httpbin.org
  timeout_ms: 5000
---
apiVersion: getambassador.io/v2
kind: FilterPolicy
metadata:
  name: filter-oauth2-okta-policy
spec:
  rules:
    - host: "*"
      path: /okta/httpbin/**
      filters:
        - name: okta
