# @TEMPLATE@
---
apiVersion: getambassador.io/v2
kind: Mapping
metadata:
  name: mapping-for-intercepted
spec:
  prefix: /intercepted/
  service: intercepted
---
apiVersion: v1
kind: Service
metadata:
  name: intercepted
spec:
  type: ClusterIP
  selector:
    service: intercepted
  ports:
  - name: proxied
    protocol: TCP
    port: 80
    targetPort: 9900
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: intercepted
  labels:
    service: intercepted
spec:
  replicas: 1
  selector:
    matchLabels:
      service: intercepted
  template:
    metadata:
      labels:
        service: intercepted
    spec:
      containers:
      - name: intercepted
        image: kennethreitz/httpbin
        ports:
        - containerPort: 80
      - name: traffic-sidecar
        image: {{env "AES_IMAGE"}}
        command: ["app-sidecar"]
        env:
        - name: APPNAME
          value: intercepted
        - name: APPPORT
          value: "80"
        - name: APP_LOG_LEVEL
          value: "debug"
        - name: AMBASSADOR_LICENSE_KEY
          value: {{env "AMBASSADOR_LICENSE_KEY"}}
        ports:
        - containerPort: 9900
