---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
  selector:
    app: keycloak

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-config
data:
  realm-test.json: |
    {
      "realm": "apro",
      "enabled": true,
      "users": [
        {
          "username": "developer",
          "enabled": true,
          "credentials": [
            {
              "type": "password",
              "value": "developer"
            }
          ],
          "realmRoles": [
            "user"
          ],
          "clientRoles": {
            "account": [
              "manage-account"
            ]
          }
        }
      ],
      "roles": {
        "realm": [
          {
            "name": "user",
            "description": "User privileges"
          },
          {
            "name": "admin",
            "description": "Administrator privileges"
          }
        ]
      },
      "defaultRoles": [
        "user"
      ],
      "clients": [
        {
          "clientId": "app",
          "enabled": true,
          "clientAuthenticatorType": "client-secret",
          "secret": "8517c278-0ae8-40e5-b418-20199b7e3fb5",
          "publicClient": false,
          "redirectUris": [
            "*"
          ],
          "webOrigins": [
            "*"
          ],
          "defaultClientScopes": [
            "role_list"
          ],
          "optionalClientScopes": [
            "address",
            "phone",
            "offline_access"
          ],
          "protocolMappers": [
            {
              "id": "a4d17aaa-d70e-4858-9b1d-2949e3222615",
              "name": "audience",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-audience-mapper",
              "consentRequired": false,
              "config": {
                "included.client.audience": "app",
                "id.token.claim": "false",
                "access.token.claim": "true"
              }
            }
          ]
        }
      ]
    }

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: keycloak-config
      containers:
        - name: keycloak
          image: jboss/keycloak:4.8.3.Final
          resources:
            requests:
              memory: "512Mi"
          volumeMounts:
            - name: config-volume
              mountPath: /tmp/keycloak
          env:
            - name: KEYCLOAK_USER
              value: "admin"
            - name: KEYCLOAK_PASSWORD
              value: "admin"
            - name: KEYCLOAK_LOGLEVEL
              value: INFO
            - name: PROXY_ADDRESS_FORWARDING
              value: "true"
            - name: KEYCLOAK_IMPORT
              value: "/tmp/keycloak/realm-test.json"
          ports:
            - name: http
              containerPort: 8080
            - name: https
              containerPort: 8443
          readinessProbe:
            httpGet:
              path: /auth/realms/master
              port: 8080
#            initialDelaySeconds: 30 # Keycloak is based on JBoss which takes 30 or so seconds to "boot up" (gross)
