<footer class="o-page__footer c-footer">
    <nav>
        <ul>
            <li><a href="#">Few</a></li>
            <li><a href="#">relevant</a></li>
            <li><a href="#">links</a></li>
            <li><a href="#">in</a></li>
            <li><a href="#">footer</a></li>
        </ul>
    </nav>
</footer>
