<header class="o-page__header c-header">
    <a href="{{$.Prefix}}" >
        <img class="c-header__brand" src="{{$.Prefix}}assets/svg/AmbasadorType.svg" width="180px" height="18px"/>
    </a>
    <nav class="c-header__nav">
        <ul>
            <li><a href="#">Site link 1</a></li>
            <li><a href="#">Site link 2</a></li>
            <li><a href="#">Site link 3</a></li>
        </ul>
    </nav>
    <div class="c-header__misc">
        <ul>
            <form>
                <label>
                    <input type="search" placeholder="Search">
                </label>
            </form>
        </ul>
    </div>
</header>
