<nav class="o-page__nav c-nav">
    <div>
        Pages:
        <ul>
            {{range $i, $page := $.Pages}}
                {{$class := ""}}
                {{if eq $.CurrentPage $page}}
                    {{$class = "c-nav__selected"}}
                {{end}}
                <li><a class="{{$class}}" href="{{$.Prefix}}page/{{$page}}">{{$page}}</a></li>
            {{end}}
        </ul>
    </div>
    <div>
        Service docs:
        {{range $i, $element := .S.K8sStore.Slice }}
            {{$svc := $element.Service}}
            {{$class := ""}}
            {{if and (eq $.CurrentService $svc.Name) (eq $.CurrentNamespace $svc.Namespace)}}
                {{$class := "c-nav__selected"}}
            {{end}}
		        <li>
						    {{if $element.Metadata.HasDoc}}
    						    <a class="{{$class}}" href="{{$.Prefix}}doc/{{$svc.Namespace}}/{{$svc.Name}}">
						            {{$svc.Namespace}}.{{$svc.Name}}
                    </a>
						    {{else}}
						        <samp>{{$svc.Namespace}}.{{$svc.Name}}</samp>
    				    {{end}}
            </li>
        {{end}}
        </ul>
    </div>
</nav>
