<div class="navigation">
    <ul class="page-list">
        {{range $i, $page := $.Pages}}
            <li>
                {{if eq $.CurrentPage $page}}
                    <span class="active-page">&gt; {{$page}}</span>
                {{else}}
                    <a href="{{$.Prefix}}page/{{$page}}">{{$page}}</a>
                {{end}}
            </li>
        {{end}}
    </ul>
    <hr>
    <p> Service docs:
    <ul class="service-list">
{{range $i, $element := .S.K8sStore.Slice }}
		<li>
        {{if and (eq $.CurrentService $element.Service.Name) (eq $.CurrentNamespace $element.Service.Namespace)}}&gt;{{end}}
						{{if $element.Metadata.HasDoc}}
    						<a href="{{$.Prefix}}doc/{{$element.Service.Namespace}}/{{$element.Service.Name}}">
						        <samp>{{$element.Service.Namespace}}.{{$element.Service.Name}}</samp>
                </a>
						{{else}}
						    <samp>{{$element.Service.Namespace}}.{{$element.Service.Name}}</samp>
    				{{end}}
        </li>
{{end}}
    </ul>
</div>
