{{define "page-magic-head"}}
{{/* you can add page header stuff here */}}
{{end}}
!!! NOTE NOTE NOTE !!!
!!! NOTE NOTE NOTE !!!
!!! NOTE NOTE NOTE !!!

Do not add stuff here page magic template is overwritten by the developer portal

!!! NOTE NOTE NOTE !!!
!!! NOTE NOTE NOTE !!!
!!! NOTE NOTE NOTE !!!
