version: 2.1

jobs:
  "oss-generate":
    executor: oss-linux
    resource_class: large
    steps:
      - job-generate

  "oss-lint":
    executor: oss-linux
    steps:
      - job-lint

  "oss-images":
    parameters:
      "release":
        type: boolean
        default: false
      "push_nightly":
        type: boolean
        default: false
    executor: oss-linux
    resource_class: large
    steps:
      - job-images:
          release: << parameters.release >>
          push_nightly: << parameters.push_nightly >>

  "oss-gotest":
    executor: oss-linux
    parameters:
      "fast-reconfigure":
        type: boolean
        default: false
      "legacy-mode":
        type: boolean
        default: false
    steps:
      - job-gotest:
          fast-reconfigure: << parameters.fast-reconfigure >>
          legacy-mode: << parameters.legacy-mode >>

  "oss-test":
    executor: oss-linux
    resource_class: xlarge
    parameters:
      "test":
        type: enum
        enum:
          - "test" # everything but pytest-envoy
          - "ingresstest"
          - "pytest"
        default: "test"
      "fast-reconfigure":
        type: boolean
        default: false
      "legacy-mode":
        type: boolean
        default: false
    steps:
      - job-test:
          test: << parameters.test >>
          fast-reconfigure: << parameters.fast-reconfigure >>
          legacy-mode: << parameters.legacy-mode >>

  "oss-envoy-test":
    executor: oss-linux
    resource_class: xlarge
    parameters:
      "test":
        type: enum
        enum:
          - "pytest-envoy"
          - "pytest-envoy-v3"
        default: "pytest-envoy"
      "fast-reconfigure":
        type: boolean
        default: false
      "legacy-mode":
        type: boolean
        default: false
    steps:
      - job-test:
          test: << parameters.test >>
          fast-reconfigure: << parameters.fast-reconfigure >>
          legacy-mode: << parameters.legacy-mode >>

  "oss-chart":
    executor: oss-linux
    steps:
      - job-chart

  "oss-chart-publish":
    environment:
      PUBLISH_GIT_RELEASE: "1"
    executor: oss-linux
    steps:
      - job-chart-publish

  "oss-chart-changelog":
    executor: oss-linux
    steps:
      - run: "true" # Always run a no-op step so that this config has non-zero steps even for the "wrong" repo or branch
      - when:
          condition:
            and:
              - equal: [ "https://github.com/datawire/ambassador", << pipeline.project.git_url >> ]
              - not:
                  equal: [ "master", << pipeline.git.branch >>  ]
          steps:
            - job-chart-changelog
  "emissary-chart":
    executor: oss-linux
    steps:
      - job-emissary-chart

  "oss-promote-to-rc-latest":
    executor: oss-linux
    steps:
      - job-promote-to-rc-latest:
          channel: oss

  "oss-promote-to-ga":
    executor: oss-linux
    steps:
      - job-promote-to-ga:
          channel: oss

  "oss-yaml-publish-s3-ga":
    executor: oss-linux
    steps:
      - job-yaml-publish-s3:
          update-stable: true

  "oss-yaml-publish-s3-rc":
    executor: oss-linux
    steps:
      - job-yaml-publish-s3:
          update-stable: false


_anchors:
  # All of these filters assume that "Only build pull requests" is turned on at
  # https://app.circleci.com/settings/project/github/datawire/ambassador/advanced

  "filter-prerelease-only": &filter-prerelease-only
    filters:
      tags:
        only: /^v[0-9]+\.[0-9]+\.[0-9]+-(rc|ea)\.[0-9]+$/
      branches:
        ignore: /.*/

  "filter-rc-only": &filter-rc-only
    filters:
      tags:
        only: /^v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+$/
      branches:
        ignore: /.*/

  "filter-ga-only": &filter-ga-only
    filters:
      tags:
        only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      branches:
        ignore: /.*/

  # chart release will create a tag IFF there are changes to the chart version
  "filter-chart-release-only": &filter-chart-release-only
    filters:
      tags:
        only: /^chart\-v[0-9]+\.[0-9]+\.[0-9]+$/
      branches:
        ignore: /.*/

workflows:
  "OSS: Dev":
    # Run this workflow on just 'master' and PRs.
    jobs:
      # build+push
      - "oss-images":
          name: "oss-dev-images"
      # test
      - "oss-generate":
          name: "oss-dev-generate"
      - "oss-lint":
          name: "oss-dev-lint"
      - "oss-chart":
          name: "oss-dev-chart"
      - "emissary-chart":
          name: "emissary-dev-chart"
      - "oss-gotest":
          name: "oss-dev-gotest<<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-dev-gotest"
            parameters:
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                - false
                # If you enable testing with legacy-mode true as well, you'll also need
                # to add some exclusions -- see the Release workflow for more.
      - "oss-chart-changelog":
          name: "oss-chart-changelog"
      - "oss-test":
          requires: ["oss-dev-images"]
          name: "oss-dev-<< matrix.test >><<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-dev-test"
            parameters:
              test:
                - "pytest"
                # Running the ingresstests would require we install `kind` and
                # that the test suite supports HTTP to HTTPS redirects (AES
                # enables cleartext redirection by default, even for fallback
                # hosts, contrary to A/OSS)
                #- "ingresstest"
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                # We don't run legacy mode tests in the "Dev" workflow but we do
                # in the Nightly and Release workflows.
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - test: pytest
                fast-reconfigure: true
                legacy-mode: true
      - "oss-envoy-test":
          requires: ["oss-dev-images"]
          name: "oss-dev-<< matrix.test >><<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-dev-envoy-test"
            parameters:
              test:
                - "pytest-envoy"
                - "pytest-envoy-v3"
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                # We don't run legacy mode tests in the "Dev" workflow but we do
                # in the Nightly and Release workflows.
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - test: pytest-envoy
                fast-reconfigure: true
                legacy-mode: true
              - test: pytest-envoy-v3
                fast-reconfigure: true
                legacy-mode: true
  "OSS: Chart Release":
    when: # Don't run this workflow in apro.git
      or:
      - equal: [ "https://github.com/datawire/ambassador", << pipeline.project.git_url >> ]
      - equal: [ "https://github.com/datawire/ambassador-private", << pipeline.project.git_url >> ]
    jobs:
      - "oss-chart-publish":
          <<: *filter-chart-release-only
          name: "oss-release-chart"

  "OSS: Release":
    when: # Don't run this workflow in apro.git
      or:
      - equal: [ "https://github.com/datawire/ambassador", << pipeline.project.git_url >> ]
      - equal: [ "https://github.com/datawire/ambassador-private", << pipeline.project.git_url >> ]
    # Run this workflow on tags, not branches or PRs.
    jobs:
      # build+push
      - "oss-images":
          <<: *filter-prerelease-only
          name: "oss-release-images"
          release: true
      # test
      - "oss-generate":
          <<: *filter-prerelease-only
          name: "oss-release-generate"
      - "oss-yaml-publish-s3-rc":
          <<: *filter-prerelease-only
          name: "oss-yaml-s3-rc"
          requires: ["oss-release-generate"]
      - "oss-lint":
          <<: *filter-prerelease-only
          name: "oss-release-lint"
      - "oss-gotest":
          <<: *filter-prerelease-only
          name: "oss-release-gotest<<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-release-gotest"
            parameters:
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                - true
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - fast-reconfigure: true
                legacy-mode: true
      - "oss-test":
          <<: *filter-prerelease-only
          requires: ["oss-release-images"]
          name: "oss-release-<< matrix.test >><<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-release-test"
            parameters:
              test:
                - "pytest"
                # Running the ingresstests would require we install `kind` and
                # that the test suite supports HTTP to HTTPS redirects (AES
                # enables cleartext redirection by default, even for fallback
                # hosts, contrary to A/OSS)
                #- "ingresstest"
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                - true
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - test: pytest
                fast-reconfigure: true
                legacy-mode: true
      - "oss-envoy-test":
          <<: *filter-prerelease-only
          requires: ["oss-release-images"]
          name: "oss-release-<< matrix.test >><<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-release-envoy-test"
            parameters:
              test:
                - "pytest-envoy"
                - "pytest-envoy-v3"
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                - true
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - test: pytest-envoy
                fast-reconfigure: true
                legacy-mode: true
              - test: pytest-envoy-v3
                fast-reconfigure: true
                legacy-mode: true
      # promote
      - "oss-promote-to-rc-latest":
          <<: *filter-rc-only
          name: "oss-release-promote-to-rc-latest"
          requires:
          # build
          - "oss-release-images"
          # test
          - "oss-release-generate"
          - "oss-release-lint"
          - "oss-release-test"
      - "oss-promote-to-ga":
          <<: *filter-ga-only
          name: "oss-release-promote-to-ga"
      - "oss-yaml-publish-s3-ga":
          <<: *filter-ga-only
          name: "oss-yaml-s3-ga"
          requires:
            - "oss-release-generate"

  "OSS: Nightly":
    triggers:
      - schedule:
          # Time is in UTC: 2AM EDT on weekdays
          cron: "0 6 * * 1-5"
          filters:
            branches:
              only:
                - master
      - schedule:
          # Time is in UTC: 1AM EDT every day
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - shared/emissary
    jobs:
      # build+push
      - "oss-images":
          name: "oss-nightly-images"
          push_nightly: true
      - "oss-gotest":
          name: "oss-nightly-gotest<<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-nightly-gotest"
            parameters:
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                - true
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - fast-reconfigure: true
                legacy-mode: true
      - "oss-test":
          requires: ["oss-nightly-images"]
          name: "oss-nightly-<< matrix.test >><<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-nightly-test"
            parameters:
              test:
                - "pytest"
                # Running the ingresstests would require we install `kind` and
                # that the test suite supports HTTP to HTTPS redirects (AES
                # enables cleartext redirection by default, even for fallback
                # hosts, contrary to A/OSS)
                #- "ingresstest"
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                - true
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - test: pytest
                fast-reconfigure: true
                legacy-mode: true
      - "oss-envoy-test":
          requires: ["oss-nightly-images"]
          name: "oss-nightly-<< matrix.test >><<# matrix.fast-reconfigure >>-fastreconfigure<</ matrix.fast-reconfigure >><<# matrix.legacy-mode >>-legacy<</ matrix.legacy-mode >>"
          matrix:
            alias: "oss-nightly-envoy-test"
            parameters:
              test:
                - "pytest-envoy"
                - "pytest-envoy-v3"
              fast-reconfigure:
                - true
                - false
              legacy-mode:
                - true
                - false
            exclude:
              # It's not meaningful to set fast reconfigure and legacy mode at the same time.
              # Annoyingly, we have to iterate all the 'test' values that we're using for
              # this to work.
              - test: pytest-envoy
                fast-reconfigure: true
                legacy-mode: true
              - test: pytest-envoy-v3
                fast-reconfigure: true
                legacy-mode: true
