# Dev requirements
gitpython
httpretty
mypy
packaging
pexpect
pyOpenSSL
pytest==6.2.5
pytest-cov
pytest-rerunfailures
retry
black==24.1.1
isort

# Type stubs
types-orjson
types-protobuf
types-pyOpenSSL
types-pyyaml
types-requests
types-retry
types-setuptools
