# Dev requirements
gitpython
httpretty
mypy
packaging
pexpect
pytest
pytest-cov
pytest-rerunfailures
retry

# Type stubs
types-orjson
types-protobuf
types-pyyaml
types-requests
types-retry
types-setuptools
