.c-footer {
  border-top: solid 1px var(--terciary-color);
  text-align: center;
}

.c-footer li {
  display: inline-block;
}

.c-footer li:not(:first-of-type)::before {
  color: var(--terciary-color);
  content: "•";
  padding-left: 1em;
  padding-right: 1em;
}

.c-footer li a {
  color: #78757A;
}