# Runtime requirements
# Keep these sorted for the sake of everyone's sanity.

click==7.1.2
clize==4.1.1
durationpy==0.5
expiringdict==1.2.1
flask==1.1.2
gunicorn==20.0.4
jsonpatch==1.30
jsonschema==3.2.0
k8s-proto==0.0.3
kubernetes==9.0.0
prometheus_client==0.9.0
python-json-logger==2.0.1
pyyaml==5.4.1
requests==2.25.1
semantic-version==2.8.5
