# Runtime requirements
attrs==19.3.0   # limited by clize, sigh
requests==2.25.1
clize==4.1.1
flask==1.1.2
gunicorn==20.0.4
jsonschema==3.2.0
k8s-proto==0.0.3
semantic-version==2.8.5
kubernetes==12.0.1
click==7.1.2
jsonpatch==1.30
expiringdict==1.2.1
durationpy==0.5
prometheus_client==0.9.0

# Dev requirements
gitpython
docopt
pytest
pytest-cov
dpath
mypy
pexpect
pytest
pyyaml==5.3.1
retry
