# Dev requirements
dpath
gitpython
mypy
pexpect
pytest==6.2.5
pytest-cov
retry
httpretty
pytest-rerunfailures

# Type stubs
types-requests
types-orjson
types-setuptools
types-protobuf
types-pyyaml
types-retry
