# Runtime requirements
# Keep these sorted for the sake of everyone's sanity.

click==8.0.1
clize==4.2.0
durationpy==0.5
expiringdict==1.2.1
flask==2.0.1
gunicorn==20.1.0
jsonpatch==1.32
jsonschema==3.2.0
k8s-proto==0.0.3
kubernetes==18.20.0
packaging==20.9
prometheus_client==0.11.0
pyyaml==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.15.0
python-json-logger==2.0.2
orjson==3.6.3

# Dev requirements
dpath
gitpython
mypy
pexpect
pip-tools
pytest
pytest-cov
retry
httpretty
pytest-rerunfailures
types-pyyaml
types-futures
types-protobuf
types-requests
types-setuptools
